In [36]:
from pathlib import Path
import pandas as pd
import os
import csv
import numpy as np
import requests
import time
import io
import yfinance as yf
import warnings
# Initial imports
#%tensorflow_version 1.x
import tensorflow
import mibian
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import lstm
import psutil
import main_lstm
import main_rf
psutil.virtual_memory()

In [44]:
og = df.loc[df['otm_xs'] == True]
og.loc[(og['bollinger_signal']== -1) & (og['Put signals'] == 1)]

,optionkey,Symbol,ExpirationDate,AskPrice,PutCall,StrikePrice,UnderlyingPrice,time delta,% out,exp?,...,ctm_xf,otm_xf,ftm_xf,atm_xm,ctm_xm,otm_xm,ftm_xm,atm_xs,ctm_xs,otm_xs
DataDate,,,,,,,,,,,,,,,,,,,,,
2018-07-10,AAPL2018-07-13c210.00,AAPL,2018-07-13,0.01,call,210.0,190.35,3 days,0.103231,False,...,False,True,False,False,False,True,False,False,False,True
2018-07-10,AAPL2018-07-13c212.50,AAPL,2018-07-13,0.02,call,212.5,190.35,3 days,0.116365,False,...,False,True,False,False,False,True,False,False,False,True
2018-07-10,AAPL2018-07-13c215.00,AAPL,2018-07-13,0.01,call,215.0,190.35,3 days,0.129498,False,...,False,True,False,False,False,True,False,False,False,True
2018-07-10,AAPL2018-07-13c217.50,AAPL,2018-07-13,0.02,call,217.5,190.35,3 days,0.142632,False,...,False,True,False,False,False,True,False,False,False,True

In [36]:
def selling_calls_blp(df):
    blc = df.loc[(df['bollinger_signal']== -1) & (df['Put signals'] == 1)]
    blc['log'] = blc['AskPrice'].astype(float) - blc['xp'].astype(float)
    blc = blc[]
    #blc_total = round(blc['log'].sum())
    
    blc_otm_xs = blc.loc[blc['otm_xs'] == True]
    blc_otm_xs = blc_otm_xs[['log']]
    blc_otm_xs.to_csv(f'aplease{symbol}selling_calls_blp_otm_xs.csv')
    
    blc_otm_xm = blc.loc[blc['otm_xm'] == True]
    #blc_otm_xm['profit'] = round(blc_otm_xm['profit'])
    blc_otm_xm = blc_otm_xm[['log']]
    blc_otm_xm.to_csv(f'apleasebearish_{symbol}selling_calls_blp_otm_xm.csv')

    blc_otm_xf = blc.loc[blc['otm_xf'] == True]
    blc_otm_xf['profit'] = (blc_otm_xf['profit'])
    blc_otm_xf = blc_otm_xf['profit']
    #blc_otm_xf.to_csv(f'bearish_{symbol}selling_calls_blp_otm_xf.csv')
    
    blc_ctm_xs = blc.loc[blc['ctm_xs'] == True]
    blc_ctm_xs['profit'] = (blc_ctm_xs['profit'])
    blc_ctm_xs = blc_ctm_xs['profit']
    #blc_ctm_xs.to_csv(f'bearish_{symbol}selling_calls_blp_ctm_xs.csv')
    
    blc_ctm_xf = blc.loc[blc['ctm_xf'] == True]
    blc_ctm_xf['profit'] = (blc_ctm_xf['profit'])
    blc_ctm_xf = blc_ctm_xf['profit']
    #blc_ctm_xf.to_csv(f'bearish_{symbol}selling_calls_blp_ctm_xf.csv')
    
    blc_ctm_xm = blc.loc[blc['ctm_xm'] == True]
    blc_ctm_xm['profit'] = (blc_ctm_xm['profit'])
    blc_ctm_xm = blc_ctm_xm['profit']
    #blc_ctm_xm.to_csv(f'bearish_{symbol}selling_calls_blp_ctm_xm.csv')
    #blc_ctm_xf['profit'] = blc_ctm_xf['profit']
    
    #blc_ctm_xf['profit'] = round(blc_ctm_xf['profit'])
    #blc_ctm_xf_total = blc_ctm_xf[:, 0].sum()

    #print(f'blindly selling calls on bollinger and put signals would net:{blc_total}')
    #print(f'buying close to the money, expiring far calls on bollinger and call signals would net: {blc_ctm_xf_total}' )
    
atm = .07
ctm = .1
otm = .15
ftm = .2
xf = 28
xm = 19
xs = 7


def get_leaps(df):

    atm_leaps = df.loc[(df['time delta'] > np.timedelta64(300, 'D')) & (df['% out'] > -.01) & (df['% out'] < atm)]
    atm_leaps ['profit'] = round(atm_leaps['profit'] * -1)
    atm_leaps = atm_leaps['profit']
    #atm_leaps.to_csv(f'bullish{symbol}_atm_leaps.csv')

    ctm_leaps = df.loc[(df['time delta'] > np.timedelta64(300, 'D')) & (df['% out'] > atm) & (df['% out'] < ctm)]
    ctm_leaps ['profit'] = round(ctm_leaps['profit'] * -1)
    ctm_leaps = ctm_leaps['profit']
    #ctm_leaps.to_csv(f'bullish{symbol}_ctm_leaps.csv')

    otm_leaps = df.loc[(df['time delta'] > np.timedelta64(300, 'D')) & (df['% out'] > ctm) & (df['% out'] < otm)]
    otm_leaps ['profit'] = round(otm_leaps['profit'] * -1)
    otm_leaps = otm_leaps['profit']
    #otm_leaps.to_csv(f'bullish{symbol}_otm_leaps.csv')

    ftm_leaps = df.loc[(df['time delta'] > np.timedelta64(300, 'D')) & (df['% out'] > otm) & (df['% out'] < ftm)]
    ftm_leaps ['profit'] = round(ftm_leaps['profit'] * -1)
    ftm_leaps = ftm_leaps['profit']
    #ftm_leaps.to_csv(f'bullish{symbol}_ftm_leaps.csv')

def buying_calls_blc(df):
    blc = df.loc[(df['bollinger_signal']== 1) & (df['Call signals'] == 1)]
    blc['log'] = blc['AskPrice'].astype(float) - blc['xp'].astype(float)
    blc['log'] = blc['profit']
    #blc_total = round(blc['sclog'].sum() * -1)
    return blc

    blc_otm_xs = blc.loc[blc['otm_xs'] == True]
    blc_otm_xs['profit'] = (blc_otm_xs['profit'] * -1)
    blc_otm_xs = blc_otm_xs['profit']
    #return blc_otm_xc
    #blc_otm_xs.to_csv(f'bullish_{symbol}buying_calls_blc_otm_xs.csv')
    
    blc_otm_xm = blc.loc[blc['otm_xm'] == True]
    blc_otm_xm['profit'] = (blc_otm_xm['profit'] * -1)
    blc_otm_xm = blc_otm_xm['profit']
    #blc_otm_xm.to_csv(f'bullish_{symbol}buying_calls_blc_otm_xm.csv')

    blc_otm_xf = blc.loc[blc['otm_xf'] == True]
    blc_otm_xf['profit'] = (blc_otm_xf['profit'] * -1)
    blc_otm_xf = blc_otm_xf['profit']
    #blc_otm_xf.to_csv(f'bullish_{symbol}buying_calls_blc_otm_xf.csv')
    
    blc_ctm_xs = blc.loc[blc['ctm_xs'] == True]
    blc_ctm_xs['profit'] = (blc_ctm_xs['profit'] * -1)
    blc_ctm_xs = blc_ctm_xs['profit']
    #blc_ctm_xs.to_csv(f'bullish_{symbol}buying_calls_blc_ctm_xs.csv')
    
    blc_ctm_xf = blc.loc[blc['ctm_xf'] == True]
    blc_ctm_xf['profit'] = (blc_ctm_xf['profit'] * -1)
    blc_ctm_xf = blc_ctm_xf['profit']
    #blc_ctm_xf.to_csv(f'bullish_{symbol}buying_calls_blc_ctm_xf.csv')
    
    blc_ctm_xm = blc.loc[blc['ctm_xm'] == True]
    blc_ctm_xm['profit'] = (blc_ctm_xm['profit'] * -1)
    blc_ctm_xm = blc_ctm_xm['profit']
    #blc_ctm_xm.to_csv(f'bullish_{symbol}buying_calls_blc_ctm_xm.csv')
    #blc_ctm_xf['profit'] = blc_ctm_xf['profit']
    
    #blc_ctm_xf['profit'] = round(blc_ctm_xf['profit'])
    #blc_ctm_xf_total = blc_ctm_xf[:, 0].sum()

    print(f'blindly buying calls on bollinger and call signals would net:{blc_total}')
    #print(f'buying close to the money, expiring far calls on bollinger and call signals would net: {blc_ctm_xf_total}' )

def test_calls(df):
    buying_calls_blc(df)
    get_leaps(df)
    selling_calls_blp(df)

In [34]:
sector = 'tech'
symbol = 'AAPL'
df = pd.read_pickle(f'finally_{sector}_{symbol}_calls.pickle')

In [37]:
selling_calls_blp(df)

In [196]:
tf = buying_calls_blc(df)
tf

blindly buying calls on bollinger and call signals would net:234082

In [194]:
type(tf)

NoneType

In [40]:
tf

             log
DataDate
2016-04-21 -0.00
2016-04-21 -0.01
2016-04-21 -0.01
2016-04-21 -0.00
2016-04-21 -0.01
...          ...
2019-01-07 -0.12
2019-01-07 -0.09
2019-01-07 -0.26
2019-01-07 -0.18
2019-01-07 -0.14

[615 rows x 1 columns]

In [39]:
tf = trial(df)
tf['log'].nunique()

76

In [38]:
def trial(df):    
    blc = df.loc[(df['bollinger_signal']== 1) & (df['Call signals'] == 1)]
    blc['log'] = blc['AskPrice'].astype(float) - blc['xp'].astype(float)

 
    blc_otm_xm = blc.loc[blc['otm_xm'] == True]
    blc_otm_xm = blc_otm_xm[['log']]
    
    blc_otm_xm['log'] = (blc_otm_xm['log'] * -1)
    #blc_otm_xm = blc_otm_xm['profit']
    return blc_otm_xm

In [11]:
def calls_blc(df):
    blc = df.loc[(df['bollinger_signal']== 1) & (df['Call signals'] == 1)]
    #blc['log'] = blc['profit']
    #blc_total = round(blc['sclog'].sum() * -1)
    blc['log'] = blc['AskPrice'].astype(float) - blc['xp'].astype(float)
    
    blc_otm_xs = blc.loc[blc['otm_xs'] == True]
    blc_otm_xs = blc_otm_xs['log'].copy
    blc_otm_xs
#     blc_otm_xs['profit'] = round(blc_otm_xs['profit'] * -1)
#     blc_otm_xs = blc_otm_xs['profit']
    return blc_otm_xs
    #return blc_otm_xc
    #blc_otm_xs.to_csv(f'bullish_{symbol}buying_calls_blc_otm_xs.csv')

In [12]:
af = calls_blc(df)
af

<bound method NDFrame.copy of DataDate
2016-04-21    0.00
2016-04-21    0.01
2016-04-21    0.01
2016-04-21    0.00
2016-04-21    0.01
              ...
2018-12-11    0.01
2018-12-11    0.01
2019-01-07    0.02
2019-01-07    0.02
2019-01-07    0.01
Name: log, Length: 205, dtype: float64>

In [197]:
df.loc[(df['bollinger_signal']== 1) & (df['Call signals'] == 1)]

,optionkey,Symbol,ExpirationDate,AskPrice,PutCall,StrikePrice,UnderlyingPrice,time delta,% out,exp?,...,ctm_xf,otm_xf,ftm_xf,atm_xm,ctm_xm,otm_xm,ftm_xm,atm_xs,ctm_xs,otm_xs
DataDate,,,,,,,,,,,,,,,,,,,,,
2016-04-21,AAPL2016-04-22c65.00,AAPL,2016-04-22,41.20,call,65.0,105.97,1 days,-0.386619,False,...,False,False,False,False,False,False,False,False,False,False
2016-04-21,AAPL2016-04-22c70.00,AAPL,2016-04-22,36.20,call,70.0,105.97,1 days,-0.339436,False,...,False,False,False,False,False,False,False,False,False,False
2016-04-21,AAPL2016-04-22c75.00,AAPL,2016-04-22,31.20,call,75.0,105.97,1 days,-0.292253,False,...,False,False,False,False,False,False,False,False,False,False
2016-04-21,AAPL2016-04-22c80.00,AAPL,2016-04-22,26.10,call,80.0,105.97,1 days,-0.245069,False,...,False,False,False,False,False,False,False,False,False,False
2016-04-21,AAPL2016-04-22c85.00,AAPL,2016-04-22,21.10,call,85.0,105.97,1 days,-0.197886,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-07,AAPL2021-01-15c340.00,AAPL,2021-01-15,1.20,call,340.0,147.88,739 days,1.299161,False,...,False,False,False,False,False,False,False,False,False,False
2019-01-07,AAPL2021-01-15c350.00,AAPL,2021-01-15,0.90,call,350.0,147.88,739 days,1.366784,False,...,False,False,False,False,False,False,False,False,False,False
2019-01-07,AAPL2021-01-15c360.00,AAPL,2021-01-15,0.96,call,360.0,147.88,739 days,1.434406,False,...,False,False,False,False,False,False,False,False,False,False
2019-01-07,AAPL2021-01-15c370.00,AAPL,2021-01-15,1.30,call,370.0,147.88,739 days,1.502029,False,...,False,False,False,False,False,False,False,False,False,False
2019-01-07,AAPL2021-01-15c380.00,AAPL,2021-01-15,0.62,call,380.0,147.88,739 days,1.569651,False,...,False,False,False,False,False,False,False,False,False,False

In [32]:
df['otm_xf'].value_counts()

False    687169
True      14289
Name: otm_xf, dtype: int64